
.devcontainer
build
managed_components
.cache

sdkconfig.defaults.esp32
sdkconfig.defaults.esp32c3
sdkconfig.defaults.esp32c5
sdkconfig.defaults.esp32c6
sdkconfig.defaults.esp32s2
sdkconfig.defaults.esp32s3
/ControlLogicExploration
IDF_framwork/HA_on_off_light/.vscode/settings.json
IDF_framwork/HA_on_off_light/sdkconfig
IDF_framwork/HA_on_off_light/sdkconfig.defaults
IDF_framwork/HA_on_off_light/sdkconfig.old
IDF_framwork/HA_on_off_switch/.vscode/settings.json
IDF_framwork/HA_on_off_switch/sdkconfig
IDF_framwork/HA_on_off_switch/sdkconfig.defaults
IDF_framwork/HA_on_off_switch/sdkconfig.old
